<ion-content fullscreen>

  <div class="login-page">

    <div class="login-card">

      <div class="top-bar"></div>

      <h1>Iniciar Sesión</h1>

      <p class="subtitle">
        Ingrese sus credenciales institucionales para acceder al sistema.
      </p>

      <div class="form-group">

        <label>Usuario</label>

        <ion-item class="custom-input">

          <ion-input
            placeholder="ej. usuario@institucion.edu">
          </ion-input>

        </ion-item>

      </div>

      <div class="form-group">

        <div class="label-row">

          <label>Contraseña</label>

          <a href="#">
            ¿Olvidó su contraseña?
          </a>

        </div>

        <ion-item class="custom-input">

          <ion-input
            type="password"
            placeholder="••••••••">
          </ion-input>

        </ion-item>

      </div>

      <div class="remember-row">

        <ion-checkbox labelPlacement="end">
        </ion-checkbox>

        <span>Mantener sesión iniciada</span>

      </div>

      <ion-button
        expand="block"
        routerLink="/dashboard">

        Ingresar al Sistema

      </ion-button>

      <div class="support">

        <h4>SOPORTE</h4>

        <p>
          ¿Problemas con el acceso?
          Contacte al Departamento de TI.
        </p>

      </div>

    </div>

    <div class="footer-links">

      <span>Aviso de Privacidad</span>

      <span>Términos de Uso</span>

      <span>Ayuda</span>

    </div>

  </div>

</ion-content>