ion-content{

  --background:#f5f2ed;

}

.grades-container{

  padding:20px;

}

h1{

  color:#7d1736;

  font-size:30px;

  margin-bottom:4px;

}

.subtitle{

  color:#777;

  margin-bottom:24px;

}

h2{

  color:#7d1736;

  margin-bottom:18px;

}