<ion-content fullscreen>

  <div class="dashboard-container">

    <div class="hero">

      <div class="hero-content">

        <h1>Hola, Eric 👋</h1>

        <p>6° A • Programación</p>

      </div>

    </div>

    <div class="student-card">

      <div class="student-info">

        <span class="badge">
          CBTIS 61
        </span>

        <h2>Eric Morales</h2>

        <p>Programación</p>

        <small>Turno Matutino</small>

      </div>

    </div>

    <div class="stats-grid">

      <app-stat-card
        value="94%"
        title="Asistencia"
        subtitle="Último mes">
      </app-stat-card>

      <app-stat-card
        value="9.2"
        title="Promedio"
        subtitle="Actual">
      </app-stat-card>

    </div>

    <div class="section">

      <h3>Accesos rápidos</h3>

      <div class="actions-grid">

        <app-quick-action-card
          icon="📅"
          title="Horario">
        </app-quick-action-card>

        <app-quick-action-card
          icon="📊"
          title="Calificaciones">
        </app-quick-action-card>

        <app-quick-action-card
          icon="✅"
          title="Asistencia">
        </app-quick-action-card>

        <app-quick-action-card
          icon="🪪"
          title="Credencial">
        </app-quick-action-card>

      </div>

    </div>

    <div class="card">

      <h3>Próxima clase</h3>

      <p>Programación Web</p>

      <small>08:00 - 09:00</small>

    </div>

  </div>

</ion-content>